.profile {
  margin: 0 auto;
  display: block;
  width: fit-content;
  border-radius: 15px;
  margin-top: 32px;

  background: #e7ecf2;
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description {
  padding: 25px 50px 0 50px;
}

.description > p {
  text-align: center;
}
.avatar {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.26);
  background-color: white;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-weight: 700;
  font-size: x-large;
  line-height: 1.6;
}

.tag,
.location {
  color: #95a1ad;
}

.location {
  margin-bottom: 32px;
}

.stats {
  display: flex;
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border: 1px solid #e8ecf2;
  flex: 1;
  border-bottom: none;
  background-color: #f3f6f9;
  padding: 10px 0;
}
.stats > li:last-child {
  border-right: none;
  border-bottom-right-radius: 14px;
}

.stats > li:first-child {
  border-left: none;
  border-bottom-left-radius: 14px;
}

.label {
  font-size: 13px;
}

.quantity {
  font-weight: 700;
}
