.statistics {
  border: solid 1px cornflowerblue;
  display: block;
  width: 400px;
  margin: 25px auto 0;
}

.title {
  text-align: center;
  background-color: chartreuse;
  display: block;
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
}

.statList {
  display: flex;
}
