.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 10px;
}
.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}
